.idea/
bin/.coursier
bin/.scalafmt*

# Required because these are the proxies for the sourcedeps
.bridge/
.zinc/
.nailgun/

# Directory in which to install locally bloop binaries to test them
.devbloop/

# zinc uses this local cache for publishing stuff
.ivy2/

target/
.bloop/

# Ensime's config and cache
.ensime
.ensime_cache/
integrations/gradle-bloop/lib

# The index where we store project mappings for local benchmarks
.local-benchmarks

bloop-config/
out/
.DS_Store
website/build/
website/build/bloop-gh-pages/
node_modules/
package-lock.json
.metals/
*.lock
