[submodule "zinc"]
	path = zinc
	url = https://github.com/scalacenter/zinc.git
	branch = loop
[submodule "nailgun"]
	path = nailgun
	url = https://github.com/scalacenter/nailgun.git
	branch = sync-19-01-2018
[submodule "compiler-benchmark"]
	path = benchmark-bridge
	url = https://github.com/scalacenter/compiler-benchmark
	branch = bloop-updated-2
  ignore = dirty
[submodule "bsp"]
	path = bsp
	url = https://github.com/scalacenter/bsp.git
	branch = master
[submodule "website/themes/kube"]
	path = website/themes/kube
	url = https://github.com/scalacenter/kube.git
[submodule "website/static/docson"]
	path = website/static/docson
	url = git://github.com/scalacenter/docson.git
