/* Increased specificity to override theme defaults */
pre {
  position: relative;
}

.hljs.hljs {
  color: #1e1e1e;
  background-color: rgb(231, 250, 255);
  padding: 1em;
  white-space: pre-wrap;
  border-left: 0;
  /* base 20px + header height */
  margin: 54px 0 20px;
  box-shadow: 0px 0 rgba(50, 51, 48, 0.07), 0px 0 rgba(50, 51, 48, 0.07);
}

.hljs::before {
  content: "";
  background: #1EC2EF66;
  display: block;
  font-size: 11px;
  font-weight: bold;
  height: 34px;
  line-height: 34px;
  padding: 0 10px;
  position: absolute;
  right: 0;
  bottom: 100%;
  left: 0;
  z-index: 1;
}

/* CSS needs to be listed first so that others can overwrite */
.hljs.language-css::before {
  content: "CSS";
}

.hljs.language-diff::before {
  content: "Diff";
}

.hljs.language-js::before,
.hljs.language-javascript::before {
  content: "JavaScript";
}

.hljs.language-jsx::before {
  content: "JSX";
}

.hljs.language-json::before {
  content: "JSON";
}

.hljs.language-json5::before {
  content: "JSON5";
}

.hljs.language-sh::before,
.hljs.language-shell::before,
.hljs.language-bash::before {
  content: "Shell";
}

.hljs.language-ts::before {
  content: "TypeScript";
}

.hljs.language-html::before {
  content: "HTML";
}

.hljs.language-yaml::before {
  content: "YAML";
}

.hljs.language-scala::before {
  content: "Scala";
}

.hljs.language-java::before {
  content: "Java";
}

pre .btn-icon {
  position: absolute;
  top: -34px;
  z-index: 2;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 0;
  color: $primaryColor;
  background-color: transparent;
  height: 34px;
  transition: all 0.25s ease-out;
}

pre .btn-icon:hover {
  color: #000;
  text-decoration: none;
}

.btn-icon__body {
  align-items: center;
  display: flex;
}

.btn-icon svg {
  fill: currentColor;
  margin-right: 0.4em;
}

.btn-icon__label {
  font-size: 11px;
}

.btn-clipboard {
  right: 10px;
}

